# Memory Efficiency of Tuples Compared to Lists

In [ ]:
import sys
my_list = [1, 2, 3,4,5]
my_tuple = (1, 2, 3, 4, 5)


list_size = sys.getsizeof(my_list)
tuple_size = sys.getsizeof(my_tuple)

print(f"Memory size of list: {list_size} bytes")
print(f"Memory size of tuple: {tuple_size} bytes")

Memory size of list: 104 bytes
Memory size of tuple: 80 bytes

## Speed Benefits Due to Immutability

In [ ]:
import timeit
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)

list_time = timeit.timeit(stmt="my_list[2]", globals=globals(), number=1000000)
tuple_time = timeit.timeit(stmt="my_tuple[2]", globals=globals(), number=1000000)

print(f"Access time for list: {list_time} seconds")
print(f"Access time for tuple: {tuple_time} seconds")

Access time for list: 0.09768732600014118 seconds
Access time for tuple: 0.08729214899994986 seconds

## Iteration Speed of Tuples vs. Lists

In [ ]:
list_iter_time = timeit.timeit(stmt="[x for x in my_list]", globals=globals(), number=1000000)
tuple_iter_time = timeit.timeit(stmt="[x for x in my_tuple]", globals=globals(), number=1000000)

print(f"Iteration time for list: {list_iter_time} seconds")
print(f"Iteration time for tuple: {tuple_iter_time} seconds")

Iteration time for list: 0.3813834370002951 seconds
Iteration time for tuple: 0.3610851809999076 seconds



---

# Overview of Dictionaries

In Python, a dictionary is a data structure that stores data in key-value pairs, allowing fast retrieval based on keys.

Key-Value Pairs Explained
Each item in a dictionary consists of a key and a value, separated by a colon. Keys are unique and act like labels for the values associated with them.

In [ ]:
dict_a = {}
type(dict_a)

dict

# Creating Dictionaries

## 1. Basic Dictionary Syntax
Dictionaries are created using curly braces` {}`, with each item in the form of a key: value pair.

In [ ]:
student = {1:"ali",2:"bilal",3:"subhan"}
student

{1: 'ali', 2: 'bilal', 3: 'subhan'}

## 2. Using the dict() Function

In [ ]:

student = dict(name="Ali")
student

SyntaxError: invalid syntax (<ipython-input-28-a013863f4896>, line 1)

# Dictionary Indexing and Accessing Elements

## 1. Accessing Values by Key
To retrieve a value from a dictionary, you use the key inside square brackets `[].`

In [ ]:
students = {"name":"ali","age":20,"roll_no":"40"}
print(students["address"])

KeyError: 'address'

## 2. The `get()` Method and Its Benefits

The get() method is another way to access dictionary values by key. Unlike the [] syntax, it does not raise an error if the key is missing. Instead, it returns None or a specified default value if the key is not found.

In [ ]:
students = {"name":"ali","age":20,"roll_no":"40"}
print(students.get("address"))

None

# Modifying Dictionaries

## 1. Adding New Key-Value Pairs

In [ ]:
students = {"name":"ali","age":20,"roll_no":"40"}
students["city"] = "LHR"
students

{'name': 'ali', 'age': 20, 'roll_no': '40', 'city': 'LHR'}

## 2. Updating Existing Values

In [ ]:

students = {"name":"ali","age":"20","roll_no":"40"}
students["age"] = 31
students

{'name': 'ali', 'age': 31, 'roll_no': '40'}

### Using the `update()` Method
The update() method allows you to add multiple key-value pairs to a dictionary at once. It can also be used to update existing keys.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
students.update({"age":45,"roll_no":"55","city":"LHR"})

students

{'name': 'ali', 'age': 45, 'roll_no': '55', 'city': 'LHR'}

## 3. Removing Items

### Using `del` Statement

The del statement removes a specific key-value pair by key. If the key does not exist, it raises a KeyError.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
students.clear()
students

{}

### Using `pop()` Method
The pop() method removes a specific key and returns its value. If the key is not found, it raises a KeyError, unless a default value is provided.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
age = students.pop("adress","age")
print(age)
print(students)

age
{'name': 'ali', 'age': '20', 'roll_no': '40'}

### Using `popitem()` Method

The popitem() method removes and returns the last inserted key-value pair as a tuple. This method is useful if you need to remove items in a last-in, first-out (LIFO) order. If the dictionary is empty, it raises a KeyError.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
students["city"] = "LHR"
students["Country"] = "PAK"
students

country = students.popitem()
students

{'name': 'ali', 'age': '20', 'roll_no': '40', 'city': 'LHR'}

# Dictionary Methods and Operations

## 1. `keys()` Method

The keys() method returns a view object displaying all the keys in the dictionary. This view can be converted to a list if needed.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}

keys = students.keys()
keys = list(keys)
keys[2]

'roll_no'

## 2. `values()` Method

The values() method returns a view object displaying all the values in the dictionary. Like keys(), it can be converted to a list if needed.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}

val =students.values()
list(val)

['ali', '20', '40']

## 3. `items()` Method

The items() method returns a view object displaying each key-value pair as a tuple, allowing you to iterate over keys and values together.

python
Copy code

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
items= students.items()
list(items)

[('name', 'ali'), ('age', '20'), ('roll_no', '40')]

## 4. `clear()` Method

The clear() method removes all items from the dictionary, leaving it empty.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
students.clear()
students

{}

## 5. `copy()` Method

The clear() method removes all items from the dictionary, leaving it empty

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}
students_2 = students.copy()
print(students_2)

students_2["name"] = "bilal"
print(students_2)
print(students)

{'name': 'ali', 'age': '20', 'roll_no': '40'}
{'name': 'bilal', 'age': '20', 'roll_no': '40'}
{'name': 'ali', 'age': '20', 'roll_no': '40'}

## 6. `fromkeys()` Method
The fromkeys() method creates a new dictionary from a given list of keys and a single value.

In [ ]:
keys = ["name","age","roll_no"]

students = dict.fromkeys(keys,"")
# students


students["name"] = "Ali"
students

{'name': 'Ali', 'age': '', 'roll_no': ''}

##  7. `setdefault()` Method
The setdefault() method checks if a key exists in the dictionary. If it does, it returns the value. If it doesnâ€™t, it adds the key with a specified default value.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40"}

students.update("name","bilal")
students

{'name': 'ali', 'age': '20', 'roll_no': '40'}

# Checking for Key Existence with in

You can use the in keyword to check if a key exists in the dictionary. This is useful to prevent KeyError when accessing keys.

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40","ali":5}
print("ali" in students)

True

## Dictionary Comprehension

## Basic Dictionary Comprehension

In [ ]:
squares = {num : num**2 for num in range(1,6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

## Conditional Dictionary Comprehension

In [ ]:
squares = {num : num**2 for num in range(1,6) if num %2 == 0}
squares

{2: 4, 4: 16}

# Dictionary Iteration Techniques

## 1. Iterating Over Keys

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40","ali":5}

for key in students.keys():
  print(key)

name
age
roll_no
ali

## 2. Iterating Over Values

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40","ali":5}

for val in students.values():
  print(val)

ali
20
40
5

## 3. Iterating Over Key-Value Pairs

In [ ]:
students = {"name":"ali","age":"20","roll_no":"40","ali":5}

for i,j in students.items():
  print(i)
  print(j)

name
ali
age
20
roll_no
40
ali
5

# Merging and Updating Dictionaries

## 1. Using the update() Method

In [ ]:
students = {"name":"Ali","age":15}

cnic = {"cnic_no":35201,"DOB": 11120}

students.update(cnic)
students

{'name': 'Ali', 'age': 15, 'cnic_no': 35201, 'DOB': 11120}

## 2. Using the `|` Operator

The` | `operator for dictionary merging. It creates a new dictionary containing the merged key-value pairs, without modifying the original dictionaries

In [ ]:
students = {"name":"Ali","age":15}

cnic = {"cnic_no":35201,"DOB": "01112024","name":"bilal"}

merged_dict = cnic | students

print(students)
print(cnic)
print(merged_dict)

{'name': 'Ali', 'age': 15}
{'cnic_no': 35201, 'DOB': '01112024', 'name': 'bilal'}
{'cnic_no': 35201, 'DOB': '01112024', 'name': 'Ali', 'age': 15}

## Using the |= Operator for In-Place Updates

In [ ]:
students = {"name":"Ali","age":15}

cnic = {"cnic_no":35201,"DOB": "01112024","name":"bilal"}

students |= cnic
students

{'name': 'bilal', 'age': 15, 'cnic_no': 35201, 'DOB': '01112024'}

# Advanced Dictionary Concepts

## 1. Nested Dictionaries
A nested dictionary is a dictionary within a dictionary

In [ ]:
company = {"emp1":{"name":"abc","age":15},"emp2":{"name":"xyz","age": 20}}
company["emp1"]["name"]

'abc'

## Converting a List to Dictionary

In [ ]:
# list_demo = {1:"a",2:"b"}

# temp = list_demo[1]
# list_demo[1] =  list_demo[2]
# list_demo[2] =temp

# list_demo

list_demo = [[0,"a"],[2,"b"],[3,"c"]]
list_to_dict = dict((list_demo))
list_to_dict   # {1:a,2:b,3:c}

{0: 'a', 2: 'b', 3: 'c'}