# 1. Introduction to Sets

A set is an unordered, mutable collection of unique elements in Python, meaning no duplicates are allowed.

# Differences between Sets, Lists, and Tuples

1. Lists are ordered, allow duplicates, and are mutable.
2. Tuples are ordered, allow duplicates, but are immutable.
3. Sets are unordered, do not allow duplicates, and are mutable.

# 2. Creating Sets

## Using Curly `Braces {}` and the `set()` Function

In [ ]:
my_set  = {1,2,3}

my_set = set()

# 3. Accessing Elements in a Set

In [ ]:
my_set  = {1,2,3}

print(my_set[1])
for elem in my_set:
  print(elem)

TypeError: 'set' object is not subscriptable

In [ ]:
set1 = [{1,2,3,4}]

for elem in set1:
  for i in elem:
    print(i)

1
2
3
4

# 4. Basic Set Operations

## 1. Adding an Element with add()

The add() method allows you to add a single element to a set. If the element is already in the set, it won’t be added again, as sets do not allow duplicates.

In [ ]:
fruits  ={"Apple","acherry","banana"}

fruits.add(("a","95"))
fruits

{('a', '95'), 'Apple', 'acherry', 'banana'}

## 2. Removing an Element with remove()
The remove() method removes a specified element from the set. If the element does not exist, it raises a KeyError.

In [ ]:
fruits.remove("banana")
fruits

KeyError: 'banana'

## 3. Removing an Element with discard()
The discard() method also removes a specified element, but if the element does not exist, it will not raise an error. This is useful for avoiding potential exceptions.

In [ ]:
fruits.discard("apple")
fruits

{'cherry', 'orange'}

## 4. Removing a Random Element with pop()
The pop() method removes and returns a random element from the set. Since sets are unordered, there’s no guarantee about which element is removed. This can be useful when you need to process or remove items one at a time.

In [ ]:
fruits  ={"Apple","acherry","banana","bc","dbc","mg"}
removed_element = fruits.pop()
removed_element

TypeError: set.pop() takes no arguments (1 given)

## 5. Clearing the Set with clear()
The clear() method removes all elements from the set, making it an empty set.

In [ ]:
fruits.clear()
fruits

set()

# 5. Set Operations and Mathematical Relations

## union(): Combining Sets

The union() method returns a new set that contains all unique elements from both sets.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}

union_set = set_a.union(set_b)
print(set_a)
print(set_b)
print(union_set)

{1, 2, 3}
{3, 4, 5}
{1, 2, 3, 4, 5}

Alternatively, you can use the | operator:

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}

union =  set_b + set_a
print(set_a)
print(set_b)
print(union_set)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

## intersection(): Finding Common Elements
The intersection() method returns a set containing only elements that are present in both sets.

In [ ]:
set_a = {1,2,3,4,5,'a',"b"}
set_b = {3,4,5,"a"}

intersection = set_a.intersection(set_b)
intersection

{3, 4, 5, 'a'}

Or using the & operator:

In [ ]:
set_a = {1,2,3,4,5,'a',"b"}
set_b = {3,4,5,"a"}

intersection = set_a & set_b
intersection

{3, 4, 5, 'a'}

## difference(): Finding Unique Elements
The difference() method returns elements that are in the first set but not in the second.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}

diff_set = set_a.difference(set_b)
diff_set

{1, 2}

Or with the - operator:

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}

diff_set = set_a - set_b
diff_set

{1, 2}

## symmetric_difference(): Finding Non-Common Elements

The symmetric_difference() method returns a set with elements that are in either of the sets but not in both.

In [ ]:
set_a = {1,2,3}
set_b = {3,4,5}

diff_set = set_a.symmetric_difference(set_b)
diff_set

{1, 2, 4, 5}

Or with the ^ operator:

In [ ]:

set_a = {1,2,3}
set_b = {3,4,5}

diff_set = set_a ^ set_b
diff_set

{1, 2, 4, 5}

## isdisjoint(): Checking for Disjoint Sets

The isdisjoint() method returns True if the sets have no elements in common.

In [ ]:
set_a = {1,2,3}
set_b = {6,4,5}

print(set_a.isdisjoint(set_b))

True

## issubset(): Checking if Subset
The issubset() method checks if all elements of one set are present in another.

In [ ]:
set_a = {"a",1,2,3}
set_b = {1}
set_c = {"a"}
print(set_b.issubset(set_a))
print(set_c.issubset(set_a))

True
True

## issuperset(): Checking if Superset
The issuperset() method checks if a set contains all elements of another set.

In [ ]:
set_a = {"a",1,2,3}
set_b = {1}
set_c = {"a"}

print(set_a.issuperset(set_b))

True

# Applications of Sets in Python

# 1. Using Sets to Remove Duplicates

Since sets automatically eliminate duplicates, they’re useful for filtering unique values from lists or other iterables.

In [ ]:

numbers = {1,5,5,7,4,8,4,8,9}

# unique_numbers = set(numbers)
print(numbers)

{1, 4, 5, 7, 8, 9}

# Identifying Common Elements in Multiple Datasets

In [ ]:
sales_cust = {"ali","bilal","subhan"}
markt_cust = {"bilal","ahmed","usama"}

common_cust = sales_cust & markt_cust
common_cust

{'bilal'}

# Set Manipulation with Multiple Sets

## 1. Working with Multiple Sets Simultaneously

In [ ]:
set_1 = {1,2,3}
set_2 = {3,4,5}
set_3 = {5,6,7}
set_4 = {7,8,9}
res = set_1 | set_2 | set_3 | set_4
res

{1, 2, 3, 4, 5, 6, 7, 8, 9}

Intersection of Multiple Sets

In [ ]:

set_1 = {1,2,3}
set_2 = {3,4,5}
set_3 = {5,6,7,3}
set_4 = {7,8,9,3}

len(set_1)

# res = (((set_1 - set_2 ) - set_3) - set_4)
# res

3

# 2. Nested Set Operations

In [ ]:
set_a = {4,5,6}
set_b = {6,4,1,5}
set_c = {2,5,7}

result = set_a | set_b - set_c
result

{1, 4, 5, 6}

# 3. Combining Multiple Operations with Clear Priorities

In [ ]:
set_a = {4,5,6}
set_b = {6,4,1,5}
set_c = {2,5,7}
set_d = {8,7}

result = (((set_a | set_b) - set_c) & set_d)
result

set()

# Set Performance Considerations

In [ ]:
large_list = list(range(1000000))
large_set = set(large_list)

import time

start_time = time.time()
print(999999 in large_list)  # Output: True
print("List check time:", time.time() - start_time)

start_time = time.time()
print(999999 in large_set)  # Output: True
print("Set check time:", time.time() - start_time)

True
List check time: 0.012897253036499023
True
Set check time: 0.00018548965454101562